@use 'variables' as v;
@use 'mixins' as m;

.view-details-btn {
    @include m.button-base;
    display: none;
    width: 100%;
    padding: 10px;
    background-color: v.$dark-color; 
    color: white; 
    border-radius: 4px;
    text-align: center;
  
    &:hover {
      background-color: v.$hover-color; 
      color: white; 
      text-decoration: none; 
    }
  }
  
  .show-more-btn {
    @include m.button-base; 
    display: block;
    margin: 30px auto 0;
    padding: 12px 24px;
    background-color: v.$dark-color; 
    color: white; 
    border-radius: 4px;
    text-align: center;
  
    &:hover {
      background-color: v.$hover-color; 
      color: white; 
      text-decoration: none; 
      transform: translateY(-2px);
    }
  
    &:active {
      transform: translateY(0);
    }
  }

.sort-button-container,
.filter-button-container {
  position: relative; 
}


.sort-button-container .sort-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.filter-button-container .filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
}